@{
    ViewData["Title"] = "Bloqlar - Shahnaz Mammadova";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PaginationVM<Blog>
<main id="body-inner">
    <div id="content-wrap">
        <div id="page-header" class="ph-cap-lg ph-center ph-image-cropped ph-image-cover-4 ph-content-parallax">
            <div class="page-header-inner tt-wrap">
                <div class="ph-caption">
                    <h1 class="ph-caption-title ph-appear">Bloqlar</h1>
                    <div class="ph-caption-title-ghost ph-appear">Bloqlar</div>
                    <div class="ph-caption-subtitle ph-appear">Bütün Bloqlar</div>
                </div>
            </div>
            <a href="#page-content" class="scroll-down-circle" data-offset="30">
                <div class="sdc-inner ph-appear">
                    <div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
                    <svg viewBox="0 0 500 500">
                        <defs>
                            <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
                        </defs>
                        <text dy="30">
                            <textPath xlink:href="#textcircle">Scroll down - Scroll down -</textPath>
                        </text>
                    </svg>
                </div>
            </a>
            <div class="made-with-love ph-appear">
                <div class="mwl-inner">
                    <div class="mwl-text">Made with</div>
                    <div class="mwl-icon"><i class="far fa-heart"></i></div>
                </div>
            </div>
        </div>
        <div id="page-content">
            <div class="tt-section" style="margin-left:20px">
                <div class="tt-section-inner tt-wrap">
                    <div class="tt-row">
                        <div class="tt-col-lg-8">
                            <div id="blog-list" class="bli-image-cropped">
                                @foreach (var blogs in Model.Items)
                                {
                                    <article class="blog-list-item">
                                        <a asp-controller="blogdetail" asp-action="index" asp-route-id="@blogs.Id" class="bli-image-wrap" data-cursor="Ətraflı Oxu">
                                            <figure class="bli-image">
                                                <img src="~/user/assets/blogimg/@blogs.FirstImageUrl" data-src="~/user/assets/blogimg/@blogs.FirstImageUrl" class="tt-lazy anim-zoomin" alt="Image">
                                            </figure>
                                        </a>
                                        <div class="bli-info">
                                            <div class="bli-categories">
                                                <a asp-controller="blogdetail" asp-action="index" asp-route-id="@blogs.Id">@blogs.Category.NameAz</a>
                                            </div>
                                            <h2 class="bli-title"><a asp-controller="blogdetail" asp-action="index" asp-route-id="@blogs.Id">@blogs.NameAz</a></h2>
                                            <div class="bli-meta">
                                                <span class="published">
                                                    @if (blogs.UpdatedTime is null)
                                                    {
                                                        @blogs.CreatedTime.ToString("MM/dd/yyyy")

                                                    }
                                                    @blogs.UpdatedTime?.ToString("MM/dd/yyyy")
                                                </span>

                                                <span class="posted-by">- Yazar:  <a href="blog-archive.html">Şahnaz Məmmədova</a></span>
                                            </div>
                                            <div class="bli-desc">
                                                @blogs.DescriptionAz
                                            </div>
                                            <div class="bli-read-more tt-btn tt-btn-link">
                                                <a asp-controller="blogdetail" asp-action="index" asp-route-id="@blogs.Id" data-hover="Ətraflı Oxu">Ətraflı Oxu</a>
                                            </div>
                                        </div>
                                    </article>
                                }
                            </div>
                        </div>
                        <div class="tt-col-lg-4">
                            <div class="tt-sidebar">
                                <div class="sidebar-widget sidebar-search">
                                    <h3 class="sidebar-heading">Search</h3>
                                    <form method="get" asp-controller="blogs" asp-action="index">
                                        <div class="tt-form-btn-inside">
                                            <input name="query" class="tt-form-control" type="text" id="search" placeholder="Type something & hit enter" required>
                                            <button type="submit"><i class="fas fa-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                @await Component.InvokeAsync("BlogCategory")
                                <div class="sidebar-widget sidebar-post-list">
                                    <h3 class="sidebar-heading">Popular Posts</h3>
                                    <ul class="list-unstyled">
                                        @foreach (var popular in Model.Items.Take(5))
                                        {
                                            <li>
                                                <div class="sidebar-post-data">
                                                    <h5 class="sidebar-post-title"><a asp-controller="blogdetail" asp-action="index" asp-route-id="@popular.Id">@popular.NameAz</a></h5>
                                                    <span class="sidebar-post-date">
                                                        @if (popular.UpdatedTime is null)
                                                        {
                                                            @popular.CreatedTime.ToString("MM/dd/yyyy")

                                                        }
                                                        @popular.UpdatedTime?.ToString("MM/dd/yyyy")
                                                    </span>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tt-pagination tt-pagin-center anim-fadeinup">
                        <div class="tt-pagin-prev">
                            @if (Model.CurrentPage > 1)
                            {
                                <a href="@Url.Action("index", new { page = Model.CurrentPage - 1, query = Model.Query })" class="tt-pagin-item magnetic-item">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                            }
                        </div>
                        <div class="tt-pagin-numbers">
                            @for (int i = 1; i <= Model.MaxPageCount; i++)
                            {
                                <a href="@Url.Action("index", new { page = i, query = Model.Query })" class="tt-pagin-item magnetic-item @(Model.CurrentPage == i ? "active" : "")">@i</a>
                            }
                        </div>
                        <div class="tt-pagin-next">
                            @if (Model.CurrentPage < Model.MaxPageCount)
                            {
                                <a href="@Url.Action("index", new { page = Model.CurrentPage + 1, query = Model.Query })" class="tt-pagin-item tt-pagin-next magnetic-item">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="tt-section padding-bottom-xlg-150">
                <div class="tt-section-inner tt-wrap">
                    <div class="tt-page-nav tt-pn-scroll">
                        <a href="portfolio-grid-modern.html" class="tt-pn-link anim-fadeinup">
                            <div class="tt-pn-title">Portfolio</div>
                            <div class="tt-pn-hover-title">Portfolio</div>
                        </a>
                        <div class="tt-pn-subtitle anim-fadeinup">Selected Works</div>
                        <div class="tt-pn-image">
                            <img src="assets/img/page-header/ph-1.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
