@{
    ViewData["Title"] = $"{Model.NameAz} - Shahnaz Mammadova";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Blog
<main id="body-inner">

    <div id="content-wrap">
        <div id="page-header" class="ph-full ph-cap-sm ph-center ph-bg-image ph-image-shadow ph-image-cover-6 ph-content-parallax">
            <div class="page-header-inner tt-wrap max-width-1400">
                <div class="ph-image">
                    <div class="ph-image-inner">
                        <img src="~/user/assets/blogimg/@Model.FirstImageUrl" alt="Image">
                    </div>
                </div>
                <div class="ph-caption">
                    <div class="ph-categories ph-appear">
                        <a href="blog-archive.html" class="ph-category">@Model.Category.NameAz</a>
                    </div>
                    <h2 class="ph-caption-title ph-appear">@Model.NameAz</h2>
                    <div class="ph-meta ph-appear">
                        <span class="ph-meta-published">
                            @if (Model.UpdatedTime is null)
                            {
                                @Model.CreatedTime.ToString("MM/dd/yyyy")

                            }
                            @Model.UpdatedTime?.ToString("MM/dd/yyyy")
                        </span>
                        <span class="ph-meta-posted-by">Yazar: <a href="blog-archive.html">Şahnaz Məmmədova</a></span>
                    </div>
                </div>
            </div>
            <a href="#page-content" class="scroll-down-circle" data-offset="30">
                <div class="sdc-inner ph-appear">
                    <div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
                    <svg viewBox="0 0 500 500">
                        <defs>
                            <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
                        </defs>
                        <text dy="30">
                            <textPath xlink:href="#textcircle">Scroll down - Scroll down -</textPath>
                        </text>
                    </svg>
                </div>
            </a>
            <div class="made-with-love ph-appear">
                <div class="mwl-inner">
                    <div class="mwl-text">Made with</div>
                    <div class="mwl-icon"><i class="far fa-heart"></i></div>
                </div>
            </div>
            <div class="ph-share">
                <div class="ph-share-trigger ph-appear">
                    <div class="ph-share-text">Share</div>
                    <div class="ph-share-icon magnetic-item"><i class="fas fa-share-alt"></i></div>
                </div>

                <div class="ph-share-content">
                    <div class="ph-share-close cursor-close"><div class="bg-noise"></div></div>
                    <div class="ph-share-inner">
                        <h1 class="ph-share-title ph-share-appear">Spread the Word!</h1>
                        <div class="ph-share-subtitle ph-share-appear">Share this article with your friends</div>

                        <div class="social-buttons ph-share-appear">
                            <ul>
                                <li><a href="#0" class="magnetic-item" title="Share on Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#0" class="magnetic-item" title="Share on Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#0" class="magnetic-item" title="Share on Pinterest"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="ph-share-ghost ph-share-appear">Share</div>
                </div>
            </div>
        </div>
        <div id="page-content">
            <div class="tt-section">
                <div class="tt-section-inner tt-wrap max-width-900">
                    <article class="tt-blog-post lightgallery">
                        @{
                            string fullDescription = Model.DescriptionAz;
                            int length = fullDescription.Length;
                            int splitIndex = length / 2;

                            string firstPart = fullDescription.Substring(0, splitIndex);

                            int lastSpaceIndex = firstPart.LastIndexOf(" ");
                            if (lastSpaceIndex != -1)
                            {
                                firstPart = firstPart.Substring(0, lastSpaceIndex);
                            }
                            string secondPart = fullDescription.Substring(firstPart.Length);
                        }
                        <div class="tt-blog-post-content">

                            <h3>Heading</h3>

                            <p>@firstPart ...</p>

                            @if (Model.SecondImageUrl is not null)
                            {
                                <figure class="tt-blog-post-image">
                                    <a href="assets/img/blog/single/blog-post-1.jpg" class="tt-bpi-link lg-trigger" data-exthumbnail="~/user/assets/blogimg/@Model.SecondImageUrl" data-cursor="View">
                                        <img class="tt-lazy" src="~/user/assets/blogimg/@Model.SecondImageUrl" data-src="~/user/assets/blogimg/@Model.SecondImageUrl" alt="image">
                                    </a>
                                    <figcaption class="tt-bpi-caption">
                                        Photo by <a href="http://unsplash.com/" target="_blank" rel="noopener">Şahnaz Mammadova</a>
                                    </figcaption>
                                </figure>

                            }
                            <p>@secondPart</p>

                            <br>
                            @if (Model.VideoUrl is not null)
                            {
                                <h3>Embed video</h3>
                                <div class="tt-embed hide-cursor">
                                    <video class="tt-embed-item" src="~/user/assets/blogimg/@Model.VideoUrl" controls allowfullscreen=""></video>
                                </div>
                            }


                        </div>

                        @{
                            string currentUrl = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path;
                            string encodedUrl = System.Net.WebUtility.UrlEncode(currentUrl);
                        }

                        <div class="tt-blog-post-share">
                            <div class="tt-bps-text">Share with Your Friends:</div>
                            <div class="social-buttons">
                                <ul>
                                    <li>
                                        <a href="https://api.whatsapp.com/send?text=@Html.Raw(encodedUrl)" title="Share on WhatsApp"><i class="fab fa-whatsapp"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/intent/tweet?url=@Html.Raw(encodedUrl)" class="magnetic-item" rel="noopener" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=@Html.Raw(encodedUrl)" target="_blank" rel="noopener noreferrer nofollow" title="Share on Facebook"><i class="fab fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/sharing/share-offsite/?url=@encodedUrl" target="_blank" rel="noopener noreferrer nofollow" title="Share on Linkedin"><i class="fab fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" id="copyLinkButton" title="Copy Link"><i class="fas fa-copy"></i></a>
                                        <input type="text" id="linkInput" value="@currentUrl" readonly style="display: none;">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    @{

                        var postId = Model.Id;
                        int previousId = postId - 1;
                        int nextId = postId + 1;


                    }

                    <div class="tt-blog-post-nav">
                        <div class="tt-bp-nav-col tt-bp-nav-left">
                            @if (previousId > 0)
                            {
                                <div class="tt-bp-nav-text"><span><i class="fas fa-angle-left"></i></span>Previous Post</div>
                                <h4 class="tt-bp-nav-title"><a href="@Url.Action("index", "blogdetail", new { id = previousId })">Previous Post Title</a></h4>
                            }
                        </div>
                        <div class="tt-bp-nav-col tt-bp-nav-right">
                            @if (nextId > 0 && nextId <= ViewBag.LastPostId)
                            {
                                <div class="tt-bp-nav-text">Next Post<span><i class="fas fa-angle-right"></i></span></div>
                                <h4 class="tt-bp-nav-title"><a href="@Url.Action("index", "blogdetail", new { id = nextId })">Next Post Title</a></h4>
                            }
                        </div>
                    </div>

                    <div id="tt-blog-post-comments">
                        <h4 class="tt-bpc-heading">@Model.BlogComments.Count comments:</h4>
                        @foreach (var comments in Model.BlogComments)
                        {
                            <ul class="tt-comments-list">

                                <li class="tt-comment">
                                    <a href="#" class="tt-comment-avatar">
                                        <img src="assets/img/low-qlt-thumb.jpg" data-src="assets/img/blog/avatar.jpg" class="tt-lazy" alt="image">
                                    </a>
                                    <div class="tt-comment-body">
                                        <div class="tt-comment-meta">
                                            <h4 class="tt-comment-heading"><a href="#">@comments.User.UserName.ToLower()</a></h4>
                                            <span class="tt-comment-time">@comments.ReviewDate.ToString("MM/dd/yyyy")</span>
                                        </div>
                                        <div class="tt-comment-text">
                                            <p>@comments.ReviewContent</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            BlogCommentVM reviewVM = new BlogCommentVM();
                            reviewVM.ReviewContent = "";
                            reviewVM.BlogId = Model.Id;
                            reviewVM.Blog = Model;
                            @await Html.PartialAsync("_AddCommentPartial", reviewVM, new ViewDataDictionary(ViewData){{"blogid" , Model.Id}})
                        }
                    </div>
                </div>
            </div>
            <div class="tt-section padding-bottom-xlg-150">
                <div class="tt-section-inner tt-wrap">
                    <div class="tt-page-nav tt-pn-scroll">
                        <a href="portfolio-grid-modern.html" class="tt-pn-link anim-fadeinup">
                            <div class="tt-pn-title">Portfolio</div>
                            <div class="tt-pn-hover-title">Portfolio</div>
                        </a>
                        <div class="tt-pn-subtitle anim-fadeinup">Selected Works</div>
                        <div class="tt-pn-image">
                            <img src="assets/img/page-header/ph-1.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        document.getElementById("copyLinkButton").addEventListener("click", function () {
            var linkInput = document.getElementById("linkInput");
            linkInput.style.display = "block";
            linkInput.select();
            document.execCommand("copy");
            linkInput.style.display = "none";
            alert("Link copied to clipboard!");
        });
    </script>
</main>

