
@{
    ViewData["Title"] = "Statistika | Şahnaz Məmmədova";
    Layout = "~/Areas/shahnazm/Views/Shared/_Layout.cshtml";
}

@model DashboardVM

<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Sayt Statistikaları</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="dashboard">Statistika</a></li>
                        
                        <li class="breadcrumb-item active">Ümumi</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid general-widget">
        <div class="row">
            <div class="col-sm-6 col-xl-3 col-lg-6">
                <div class="card o-hidden border-0">
                    <div class="bg-primary b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center"><i data-feather="database"></i></div>
                            <div class="media-body">
                                <span class="m-0">Aktiv Blog Sayı</span>
                                <h4 class="mb-0 counter">@Model.Blogs.Count</h4><i class="icon-bg" data-feather="database"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-6">
                <div class="card o-hidden border-0">
                    <div class="bg-primary b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center"><i data-feather="message-circle"></i></div>
                            <div class="media-body">
                                <span class="m-0">Aktiv Hekayə Sayı</span>
                                <h4 class="mb-0 counter">@Model.Stories.Count</h4><i class="icon-bg" data-feather="message-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-6">
                <div class="card o-hidden border-0">
                    <div class="bg-primary b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center"><i data-feather="user-plus"></i></div>
                            <div class="media-body">
                                <span class="m-0">İstifadəçi Sayı</span>
                                <h4 class="mb-0 counter">@Model.AppUsers.Count</h4><i class="icon-bg" data-feather="user-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-6">
                <div class="card o-hidden border-0">
                    <div class="bg-secondary b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center"><i data-feather="shopping-bag"></i></div>
                            <div class="media-body">
                                <span class="m-0">Aktiv Məhsul Sayı</span>
                                <h4 class="mb-0 counter">0</h4><i class="icon-bg" data-feather="shopping-bag"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 xl-100 box-col-12">
                <div class="card employee-status">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                        <h5>Bütün İstifadəçilər</h5>
                    </div>
                    <div class="card-body">
                        <div class="user-status table-responsive">
                            <table class="table table-bordernone">
                                <thead style="text-align:center">
                                    <tr>
                                        <th scope="col">İstifadəçi Adı</th>
                                        <th scope="col">E-mail ünvanı</th>
                                        <th scope="col">Rolu</th>
                                        <th scope="col">Qeydiyyat Tarixi</th>
                                        <th scope="col">Tənzimləmələr</th>
                                    </tr>
                                </thead>
                                <tbody style=" text-align:center"">
                                    @foreach (var users in Model.AppUsers)
                                    {
                                         <tr>
                                        <td class="bd-t-none u-s-tb">
                                            <div class="align-middle image-sm-size">
                                                <img class="img-radius align-top m-r-15 rounded-circle" src="~/admin/assets/images/user/7.jpg" alt="">
                                                <div class="d-inline-block">
                                                    <h6>@users.UserName</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@users.Email</td>
                                        <td>
                                                @foreach (var role in Model.UserRoles[users.UserName])
                                                {
                                                    <span class="badge badge-primary">@role</span>
                                                }
                                        </td>
                                        <td>@users.UserDate.ToString("MM/dd/yyyy")</td>
                                        <td>
                                            <a class="btn btn-danger" href="dashboard/userdelete/@users.Id"><i class="fa fa-trash me-1"></i>Sil</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
@*             <div class="col-xl-6 xl-100 box-col-12">
                <div class="card">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                        <h5>PRODUCTS CART</h5>

                    </div>
                    <div class="card-body">
                        <div class="user-status table-responsive">
                            <table class="table table-bordernone">
                                <thead>
                                    <tr>
                                        <th scope="col">Details</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="f-w-600">Simply dummy text of the printing</td>
                                        <td>1</td>
                                        <td class="font-primary">Pending</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-secondary">6523</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-w-600">Long established</td>
                                        <td>5</td>
                                        <td class="font-secondary">Cancle</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-success">6523</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-w-600">sometimes by accident</td>
                                        <td>10</td>
                                        <td class="font-secondary">Cancle</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-warning">6523</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-w-600">Classical Latin literature</td>
                                        <td>9</td>
                                        <td class="font-primary">Return</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-primary">6523</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-w-600">keep the site on the Internet</td>
                                        <td>8</td>
                                        <td class="font-primary">Pending</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-danger">6523</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-w-600">Molestiae consequatur</td>
                                        <td>3</td>
                                        <td class="font-secondary">Cancle</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-info">6523</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-w-600">Pain can procure</td>
                                        <td>8</td>
                                        <td class="font-primary">Return</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-primary">6523</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
 *@        </div>
    </div>
</div>
